<h1>help!</h1>
<form action="submitted" method="POST">
	<label for="">email</label>
	<input type="text" name="email">
	<label for="">name</label>
	<input type="text" name="name" id="">
	<input type="submit" value="go">
</form>